{% load i18n %}

<div class="bg-primary">
   <div class="container">
     <div class="row">
         <div class="col">
            <ul class="nav justify-content-start">
                <li class="nav-item">
                  <a class="nav-link color-white" href="{{plan.get_download_url}}">{% trans 'Скачать' %}</a>
                </li>
            
         {% ifequal user plan.created_by %}
          
              <li class="nav-item">
                <a class="nav-link color-white" href="{{plan.get_edit_url}}">{% trans 'Изменить' %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link color-white" data-toggle="modal" data-target="#modal-approve">{% trans 'Удалить' %}</a>
              </li>
            
         {% endifequal %}
            </ul>
          </div>
     </div>
</div>

<div class="modal fade" id="modal-approve" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body" style="text-align:center;">
          <div>{% trans 'Вы действительно хотите удалить план?' %}</div>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <a type="button" class="btn btn-secondary color-white" data-dismiss="modal">{% trans 'отмена'|capfirst %}</a>
        <a type="button" class="btn btn-primary color-white" href="{{plan.get_delete_url}}">{% trans 'удалить'|capfirst %}</a>
      </div>
    </div>
  </div>
</div>
