{% load i18n %}

<div class="bg-primary">
   <div class="container">
     <div class="row">
         <div class="col">
             <ul class="nav justify-content-start">
                <li class="nav-item">
                  <a class="nav-link color-white" href="{{ about_method_url }}">{% trans 'О методике' %}</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link color-white" href="{{ sample_plan_url }}">{% trans 'Пример' %}</a>
                </li>

          </ul>
         </div>
     </div>
</div>