{% load static %}
{% load i18n %}
{% load bbcode_tags %}

<!--Название, Цель, Реакция-->
 <section class="fdb-block">
    <div class="container">
     <div class="row">
        <div class="col text-left">
          {% if edit %}
          <h2>{% trans 'Название:' %}</h2>
            {{plan.name}}
          {% else %}
            <h2>{{plan.name}}</h2>
          {% endif %}
        </div>
      </div>
      <div class="row-50"></div>
      <div class="row">
        <div class="col text-left">
          <h3><strong>{% trans '(Моя цель) Я создаю документ для того, чтобы:' %}</strong></h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{% trans 'Причина' %}</th>
                <th>{% trans 'Аудитория' %}</th>
                <th>{% trans 'Содержание' %}</th>
              </tr>
            </thead>
            <tbody>
            {% if edit %}
              <tr>
                <td>{{plan.aim_action}}</td>
                <td>{{plan.aim_auditory}}</td>
                <td>{{plan.aim_content}}</td>
              </tr>
            {% else %}
              <tr>
                <td>{{plan.aim_action|bbcode|safe}}</td>
                <td>{{plan.aim_auditory|bbcode|safe}}</td>
                <td>{{plan.aim_content|bbcode|safe}}</td>
              </tr>
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row-50"></div>
      <div class="row">
        <div class="col text-left">
          <h3><strong>{% trans '(Реакция) Я хочу, чтобы моя аудитория:' %}</strong></h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{% trans 'Действие' %}</th>
                <th>{% trans 'Стандарт' %}</th>
              </tr>
            </thead>
            <tbody>
              {% if edit %}
              <tr>
                <td>{{plan.reaction_action}}</td>
                <td>{{plan.reaction_standart}}</td>
              </tr>
              {% else %}
              <tr>
                <td>{{plan.reaction_action|bbcode|safe}}</td>
                <td>{{plan.reaction_standart|bbcode|safe}}</td>
              </tr>
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


  <!--Целевая аудитория-->
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col text-left">
          <h2>{% trans 'Целевая аудитория' %}</h2>
        </div>
      </div>
      <div class="row-100"></div>

      <div class="row text-left">
        <div class="col-sm-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width:30%">{% trans 'Характеристики аудитории' %}</th>
                <th style="width:70%">{% trans 'Описание' %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{% trans 'Трудовые обязанности' %}</td>
                {% if edit %}
                 <td>{{plan.auditory_duty}}</td>
                {% else %}
                <td>{{plan.auditory_duty|bbcode|safe}}</td>
                {% endif %}
              </tr>
              <tr>
                <td>{% trans 'Знание предмета' %}</td>
                {% if edit %}
                 <td>{{plan.auditory_knowledge}}</td>
                {% else %}
                <td>{{plan.auditory_knowledge|bbcode|safe}}</td>
                {% endif %}
              </tr>
              <tr>
                <td>{% trans 'Демография' %}</td>
                {% if edit %}
                 <td>{{plan.auditory_demography}}</td>
                {% else %}
                <td>{{plan.auditory_demography|bbcode|safe}}</td>
                {% endif %}
               </tr>
              <tr>
                <td>{% trans 'Отношение' %}</td>
                {% if edit %}
                 <td>{{plan.auditory_relations}}</td>
                {% else %}
                <td>{{plan.auditory_relations|bbcode|safe}}</td>
                {% endif %}
               </tr>
              <tr>
                <td>{% trans 'Рабочая среда' %}</td>
                {% if edit %}
                 <td>{{plan.auditory_environment}}</td>
                {% else %}
                <td>{{plan.auditory_environment|bbcode|safe}}</td>
                {% endif %}
                </tr>
              <tr>
                <td>{% trans 'Выводы' %}</td>
                {% if edit %}
                 <td>{{plan.auditory_resume}}</td>
                {% else %}
                <td>{{plan.auditory_resume|bbcode|safe}}</td>
                {% endif %}
               </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>


  <!--Пользовательские вопросы-->
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col text-left">
          <h2>{% trans 'Пользовательские вопросы' %}</h2>
        </div>
      </div>
      <div class="row-100"></div>

      <div class="row text-left">
        <div class="col-sm-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{% trans 'Делать' %}</th>
                <th>{% trans 'Знать' %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% if edit %}
                <td>{{plan.question_actions}}</td>
                <td>{{plan.question_knowledges}}</td>
                {% else %}
                <td>{{plan.question_actions|bbcode|safe}}</td>
                <td>{{plan.question_knowledges|bbcode|safe}}</td>
                {% endif %}

              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>


