{% load static %}
{% load i18n %}

<!--Название, Цель, Реакция-->
 <section class="fdb-block">
    <div class="container">
     <div class="row">
        <div class="col text-left">
          <h2 contenteditable="true">{{name}}</h2>
        </div>
      </div>
      <div class="row-50"></div>
      <div class="row">
        <div class="col text-left">
          <h3><strong></strong></h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{% trans 'Причина' %}</th>
                <th>{% trans 'Аудитория' %}</th>
                <th>{% trans 'Содержание' %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="editor">{{aim_action}}</td>
                <td>{{aim_auditory|safe}}</td>
                <td>{{aim_content|safe}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row-50"></div>
      <div class="row">
        <div class="col text-left">
          <h3><strong>{% trans '(Реакция) Я хочу, чтобы моя аудитория:' %}</strong></h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{% trans 'Действие' %}</th>
                <th>{% trans 'Стандарт' %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{reaction_action|safe}}</td>
                <td>
                  {{reaction_standart|safe}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


  <!--Целевая аудитория-->
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col text-left">
          <h2>{% trans 'Целевая аудитория' %}</h2>
        </div>
      </div>
      <div class="row-100"></div>

      <div class="row text-left">
        <div class="col-sm-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width:30%">{% trans 'Характеристики аудитории' %}</th>
                <th style="width:70%">{% trans 'Описание' %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{% trans 'Трудовые обязанности' %}</td>
                <td class="editor-with-headings">
                  {{auditory_duty|safe}}
                </td>
              </tr>
              <tr>
                <td>{% trans 'Знание предмета' %}</td>
                <td>
                  {{auditory_knowledge|safe}}
                </td>
              </tr>
              <tr>
                <td>{% trans 'Демография' %}</td>
                <td>
                  {{auditory_demography|safe}}
                </td>
              </tr>
              <tr>
                <td>{% trans 'Отношение' %}</td>
                <td>
                  {{auditory_relations|safe}}
                </td>
              </tr>
              <tr>
                <td>{% trans 'Рабочая среда' %}</td>
                <td>
                  {{auditory_environment|safe}}
                </td>
              </tr>
              <tr>
                <td>{% trans 'Выводы' %}</td>
                <td>
                  {{auditory_resume|safe}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>


  <!--Пользовательские вопросы-->
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col text-left">
          <h2>{% trans 'Пользовательские вопросы' %}</h2>
        </div>
      </div>
      <div class="row-100"></div>

      <div class="row text-left">
        <div class="col-sm-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{% trans 'Делать' %}</th>
                <th>{% trans 'Знать' %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{question_actions|safe}}</td>
                <td>
                  {{question_knowledges|safe}}
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>


