{% load i18n %}


<script id="new_chapter_row" type="text/x-tmpl-mustache">
    <tr>
        <td>
          <div class="d-flex justify-content-center align-items-center">
            <input id="chapter_checkbox_[[chapter.id]]" type="checkbox" class="chapter_checkbox">
          </div>
        </td>
        <td><div id="chapter_name_[[chapter.id]]" class="inline_editing" contenteditable="true">[[chapter.name]]</div></td>
        <td><div id="chapter_questions_[[chapter.id]]" class="inline_editing" contenteditable="true">[[chapter.questions]]</div></td>
        <td>
          <div class="d-flex justify-content-center align-items-center">
            [[#showUpBtn]]
                <a id="upBtn_[[chapter.id]]" class="btn" href="">{% trans 'Поднять вверх' %}</a>
            [[/showUpBtn]]
          </div>
        </td>
    </tr>
  </script>
