{% extends "base.html" %}
{% load static %}


{% block content %}
<!--Заглавная иллюстрация-->
  <section class="fdb-block fdb-image-bg" style="background-image: url('{% static "imgs/alt_wide_2.svg" %}');">
    <div class="container">
      <div class="row text-left">
        <div class="col-12 col-md-8 col-lg-6 ml-sm-auto">
          <div class="fdb-box fdb-touch">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-8 text-center">
                <h1>Document Plan</h1>
                <p class="text-h3">Пойми, что должно быть в твоём документе</p>

                <p class="text-h3 mt-4"><a href="#" class="btn btn-round">Составить план</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--Введение-->
  <section class="fdb-block 6">
    <div class="container">
      <div class="row">
        <div class="col text-left">
          <h2>Итак, вы решили взяться за новое дело... </h2>
          <p class="text-h3">Возможно, это презентация, электронный курс, пост в блог или любой другой документ, качество которого зависит от того, будет ли он полезен вашим пользователям.</p>

          <p class="text-h3">Если вы точно знаете, что следует включить в документ, а что лучше исключить, если твёрдо уверены, в каком порядке излагать информацию, то наше приложение вам уже не нужно.</p>

          <p class="text-h3">Если же вы не знаете с чего начать или сомневаетесь в содержании, то Project Plan вам, безусловно, поможет. Чтобы получить простой и понятный план документа надо лишь выполнить следующие шаги:</p>
        </div>
      </div>
    </div>
  </section>

  <!--Цель-->
  <section class="fdb-block 14">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <img alt="image" class="img-fluid" src="{% static "/imgs/colors_wide_1.jpg" %}">
        </div>
        <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
          <h1>Шаг 1</h1>
          <p class="text-h3">Поймите, что вы хотите получить от вашего документа, и какую реакцию вы ожидаете от своих пользователей.</p>
         </div>
      </div>
    </div>
  </section>

  <!--Целевая аудитория-->
  <section class="fdb-block 12">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-5">
          <h1>Шаг 2</h1>
          <p class="text-h3">Заполните простую анкету и узнайте, кто ваши пользователи</p>
        </div>
        <div class="col-12 col-md-6 ml-md-auto mt-4 mt-md-0">
          <img alt="image" class="img-fluid" src="{% static "/imgs/colors_wide_1.jpg" %}">
        </div>
      </div>
    </div>
  </section>

  <!--Содержание проекта-->
  <section class="fdb-block 14">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <img alt="image" class="img-fluid" src="{% static "/imgs/colors_wide_1.jpg" %}">
        </div>
        <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
          <h1>Шаг 3</h1>
          <p class="text-h3">Сформируйте содержание документа, используя мощный метод пользовательских вопросов</p>

        </div>
      </div>
    </div>
  </section>

  <!--Приступайте-->
  <section class="fdb-block 12">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-5">
          <h1>Шаг 4</h1>
          <p class="text-h3">Приступайте к написанию документа, ведь теперь вы полностью уверены, что это именно то, что нужно вашим пользователям</p>
        </div>
        <div class="col-12 col-md-6 ml-md-auto mt-4 mt-md-0">
          <img alt="image" class="img-fluid" src="{% static "/imgs/colors_wide_1.jpg" %}">
        </div>
      </div>
    </div>
  </section>

  <!--Завершающий призыв-->
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
          <h1>Составить план</h1>
          <p class="text-h3">
            Document Plan - это удобное приложение для составления плана вашего документа. Можете попробовать прямо сейчас
          </p>
          <p class="mt-5 mt-sm-4">
            <a class="btn" href="#">Составить план</a>
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}