{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
<!--Заглавная иллюстрация-->
  <section class="fdb-block fdb-image-bg" style="background-image: url('{% static "imgs/paper.jpg" %}');">
    <div class="container">
      <div class="row text-left">
        <div class="col-12 col-md-8 col-lg-6 ml-sm-auto">
          <div class="fdb-box fdb-touch">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-8 text-center">
                <h1>Document Plan</h1>
                <p class="text-h3">{% trans 'Пойми, что должно быть в твоём документе' %}</p>

                <p class="text-h3 mt-4"><a href="{{ plan_creation_url }}" class="btn btn-round">{% trans 'О методике' %}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--Введение-->
  <section class="fdb-block 6">
    <div class="container">
      <div class="row">
        <div class="col text-left">
          <h2>{% trans 'Итак, вы решили взяться за новое дело...' %} </h2>
          <p class="text-h3">{% blocktrans %}
            Возможно, это презентация,
            электронный курс, пост в блог или любой другой документ, качество которого зависит от того, будет ли он
            полезен вашим пользователям.
            {% endblocktrans %}</p>

          <p class="text-h3">{% blocktrans %}Если вы точно знаете, что следует
            включить в документ, а что лучше исключить, если твёрдо уверены, в каком порядке излагать информацию, то
            наше приложение вам уже не нужно.{% endblocktrans %}</p>

          <p class="text-h3">{% blocktrans %}Если же вы не знаете с чего начать
            или сомневаетесь в содержании, то оно вам, безусловно, поможет. Чтобы получить простой и понятный план
            документа вам предстоит выполнить следующие шаги:{% endblocktrans %}</p>
        </div>
      </div>
    </div>
  </section>

  <!--Цель-->
  <section class="fdb-block 14">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <img alt="image" class="img-fluid" style="height:300px;" src="{% static "/imgs/target.svg" %}">
        </div>
        <div class="col-12 col-md-6 col-lg-6 ml-md-auto text-left">
          <h1>{% trans 'Шаг 1' %}</h1>
          <p class="text-h3">{% blocktrans %}Поймите, что вы хотите получить от вашего документа, и какую реакцию вы
            ожидаете от своих пользователей.{% endblocktrans %}</p>
         </div>
      </div>
    </div>
  </section>

  <!--Целевая аудитория-->
  <section class="fdb-block 12">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-5">
          <h1>{% trans 'Шаг 2' %}</h1>
          <p class="text-h3">{% blocktrans %}Проведите несложный анализ и узнайте, кто ваши пользователи и что от
            документа они должны получить{% endblocktrans %}</p>
        </div>
        <div class="col-12 col-md-6 ml-md-auto mt-4 mt-md-0">
          <img alt="image" class="img-fluid" style="height:300px;" src="{% static "/imgs/teamwork-2.svg" %}">
        </div>
      </div>
    </div>
  </section>

  <!--Содержание проекта-->
  <section class="fdb-block 14">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <img alt="image" class="img-fluid" style="height:300px;" src="{% static "/imgs/networking-1.svg" %}">
        </div>
        <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
          <h1>{% trans 'Шаг 3' %}</h1>
          <p class="text-h3">{% blocktrans %} Воспользуйтесь методом пользовательских вопросов и сформируйте
            содержание документа {% endblocktrans %}</p>

        </div>
      </div>
    </div>
  </section>

  <!--Приступайте-->
  <section class="fdb-block 12">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-5">
          <h1>{% trans 'Шаг 4' %}</h1>
          <p class="text-h3">{% blocktrans %} Проверьте содержание и разделите его на понятные разделы.
            Теперь можете приступать к их написанию... {% endblocktrans %}</p>
        </div>
        <div class="col-12 col-md-6 ml-md-auto mt-4 mt-md-0">
          <img alt="image" class="img-fluid" style="height:300px;" src="{% static "/imgs/file.svg" %}">
        </div>
      </div>
    </div>
  </section>

  <!--Завершающий призыв-->
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
          <h1>{% trans 'Составить план' %}</h1>
          <p class="text-h3">
            {% blocktrans %} Document Plan - это удобное приложение для составления плана вашего документа.
            Можете попробовать прямо сейчас {% endblocktrans %}
          </p>
          <p class="mt-5 mt-sm-4">
            <a class="btn" href="{{new_plan_url}}">{% trans 'Составить план' %}</a>
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}