{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

 <!--Название, Цель, Реакция-->
 <section class="fdb-block">
    <div class="container">
     <div class="row">
        <div class="col text-left">
          <h2 contenteditable="true">{{name}}</h2>
        </div>
      </div>
      <div class="row-50"></div>
      <div class="row">
        <div class="col text-left">
          <h3><strong>(Моя цель) Чего я хочу добиться при помощи документа:</strong></h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Причина</th>
                <th>Аудитория</th>
                <th>Содержание</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="editor">{{aim_action}}</td>
                <td>{{aim_auditory|safe}}</td>
                <td>{{aim_content|safe}}</td>
              </tr>                           
            </tbody>
          </table>
        </div>
      </div>
      <div class="row-50"></div>
      <div class="row">
        <div class="col text-left">
          <h3><strong>(Реакция) Я хочу, чтобы моя аудитория:</strong></h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Действие</th>
                <th>Стандарт</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{reaction_action|safe}}</td>
                <td>
                  {{reaction_standart|safe}}
                </td>
              </tr>                           
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  
  <!--Целевая аудитория-->
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col text-left">
          <h2>Целевая аудитория: {{auditory.name}}</h2>
        </div>
      </div>
      <div class="row-100"></div>

      <div class="row text-left">
        <div class="col-sm-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Характеристики аудитории</th>
                <th>Описание</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Трудовые обязанности</td>
                <td class="editor-with-headings">
                  {{auditory.duty|safe}}
                </td>
              </tr>
              <tr>
                <td>Знание предмета</td>
                <td>
                  {{auditory.knowledge|safe}}
                </td>
              </tr>
              <tr>
                <td>Демография</td>
                <td>
                  {{auditory.demography|safe}}
                </td>
              </tr>
              <tr>
                <td>Отношение</td>
                <td>
                  {{auditory.relations|safe}}
                </td>
              </tr> 
              <tr>
                <td>Рабочая среда</td>
                <td>
                  {{auditory.environment|safe}}
                </td>
              </tr>
              <tr>
                <td>Выводы</td>
                <td>
                  {{auditory.resume|safe}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
     
    </div>
  </section>


  <!--Пользовательские вопросы-->
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col text-left">
          <h2>Пользовательские вопросы</h2>
        </div>
      </div>
      <div class="row-100"></div>

      <div class="row text-left">
        <div class="col-sm-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Делать</th>
                <th>Знать</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{question_actions|safe}}</td>
                <td>
                  {{question_knowledges|safe}}
                </td>
              </tr>
                                         
            </tbody>
          </table>
        </div>
      </div>
     
    </div>
  </section>


  <!--Разбивка по разделам-->
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col text-left">
          <h2>Разделы документа</h2>
        </div>
      </div>
      <div class="row-100"></div>

      <div class="row text-left">
        <div class="col-sm-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Название</th>
                <th>Вопросы</th>
              </tr>
            </thead>
            <tbody>
              {% for chapter in chapters %}
              <tr>
                <td>{{chapter.name}}</td>
                <td>{{chapter.questions|safe}}</td>
              </tr>
              {% endfor %}
                                         
            </tbody>
          </table>
        </div>
      </div>
     
    </div>
  </section>

  

  <!--Футер-->
  <footer class="fdb-block footer-small bg-dark">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col-12 col-sm-6 col-md-4 text-sm-left">
          <img alt="image" src="./imgs/logo.png" height="40">
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-0 text-center text-sm-right text-md-center">
          &copy; 2018 Document Plan
        </div>

        <div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-right">
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
          
        </div>
      </div>
    </div>
  </footer>


  <script src="./js/jquery-3.2.1.slim.min.js"></script>
  <script src="./js/popper.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/ckeditor5-inline/ckeditor.js"></script>
  <script>
    InlineEditor
        .create( document.querySelector( '.editor' ) , {
        removePlugins: [ 'Heading', 'Link' ],
        toolbar: [ 'bold', 'italic', 'bulletedList', 'numberedList' ]
    })
        .catch( error => {
            console.error( error );
        } );

     InlineEditor
        .create( document.querySelector( '.editor-with-headings' ) , {
        removePlugins: [ 'Link' ],
        toolbar: [ 'headings', 'bold', 'italic', 'bulletedList', 'numberedList' ]
    })
        .catch( error => {
            console.error( error );
        } );

  </script>
</body>
</html>

{% endblock %}