<!DOCTYPE html>
<html>
<head>
  <title>Document Plan</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
  <meta charset="utf-8">

 <link rel="stylesheet" href="{% static '/css/bootstrap4.0.0-beta.2.min.css' %}">

  <link href="{% static '/fonts/font.css' %}" rel="stylesheet">
  <link href="{% static '/css/docplan.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/css/font-awesome.css' %}">

  <link type="text/css" rel="stylesheet" href="{% static '/css/froala_blocks.css' %}">

  <style>
    .fdb-block {
      border-bottom: solid 1px #EEE;
    }
  </style>
</head>

<body>
<header class="bg-dark">
    <div class="container">
      <nav class="navbar navbar-expand-md no-gutters">
        <div class="col-3 text-left">
          <a href="#">
            <img src="./imgs/logo.png" height="60" alt="image">
          </a>
        </div>
        
      </nav>
    </div>
  </header>

  <!--Сообщение-->
  <section class="fdb-block full-center-height">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>500</h1>
          <p class="text-h3">Ooops. Something went wrong - Internal Server Error</p>
        </div>
      </div>
    </div>
  </section>

  
  <!--Футер-->
  <footer class="fdb-block footer-small bg-dark">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col-12 col-sm-6 col-md-4 text-sm-left">
          <img alt="image" src="./imgs/logo.png" height="40">
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-0 text-center text-sm-right text-md-center">
          &copy; 2018 Document Plan
        </div>

        <div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-right">
          Контакты для связи:<br/> denisyakorev@mail.ru

        </div>  
      </div>
    </div>
  </footer>

 
</body>
</html>
