{% load static %}

<footer class="fdb-block footer-small bg-dark">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col-12 col-sm-6 col-md-4 text-sm-left">
          <img alt="image" src="{% static "/imgs/logo.png" %}" height="40">
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-0 text-center text-sm-right text-md-center">
          &copy; 2018 Document Plan
        </div>

        <div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-right">
          Контакты для связи:<br/> denisyakorev@mail.ru

        </div>
      </div>
    </div>
  </footer>