{% load static %}
{% load i18n %}

<header class="bg-dark">
    <div class="container">
      <nav class="navbar navbar-expand-md no-gutters">
        <div class="col-3 text-left">
          <a href="/docplan/">
            <img src="{% static "/imgs/logo.png" %}" height="60" alt="image">
          </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse-4" aria-controls="navbarNav7" aria-expanded="false" aria-label="Toggle navigation">
          <span><img src="{% static "/imgs/104696_2.png" %}" height="30" alt="image"></span>
        </button>

        <div class="collapse navbar-collapse navbar-collapse-4 justify-content-center col-md-6" id="navbarNav7">
          <ul class="navbar-nav justify-content-center">
          </ul>
        </div>
         <div class="collapse navbar-collapse navbar-collapse-4">
           <ul class="navbar-nav ml-auto justify-content-end">
        {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login/">{% trans 'войти'|capfirst %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/signup/">{% trans 'регистрация'|capfirst %}</a>
            </li>
          </ul>
          
        </div>
        {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/accounts/profile/">{% trans 'профиль'|capfirst %}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/accounts/logout/">{% trans 'выйти'|capfirst %}</a>
              </div>
            </li>
          </ul>
        </div>
        {% endif %}


      </nav>
    </div>
  </header>
