{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block additional_styles %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'imgs/paper.jpg' %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Как сформировать план документа</h1>

            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>Недавно в сети наткнулся на один простой опрос: Как разработчики курсов планируют курсы? Было много
              интересных ответов, ссылок. Единого мнения по поводу инструментов среди участников опроса не
              сложилось: кто-то исполуьзует по старинке карандаш и лист бумаги, кто-то стикеры, кто-то офисные
              приложения, а самые продвинутые - майнд-карты. А вот про методики почти никто ничего так и не сказал.
              Я уверен, что наряду с разными инструментами у каждого разработчика и сценариста, конечно же есть и
              набор методик, которыми они руководствуются. Я не исключение, у меня есть, простенькая правда, но не раз
              выручавшая меня методика. Я вам сейчас про неё расскажу.</p>


            <h2 class="section-heading">Введение</h2>

              <p>Ключевая идея всего дальнейшего материала: мы вовсе не пишем документ, создаём электронный курс или
                презентацию. Про это вообще можно пока забыть. Мы планируем изменения в поведении нашей аудитории.</p>

              <p>У нас есть какие-то наши собственные, часто весьма приземлённые, цели. И мы планируем достичь их за
                счёт других людей — нашей аудитории. Для этого они должны начать что-то делать иначе — не так, как
                делают сейчас, а так, как этого хотим мы. В этом и состоит основная сложность всего предприятия.
                Человек всегда сопротивляется изменениям, потому что любое изменение требует определённых усилий и
                затрат, а мы ленивые.</p>

              <p>Преодолеть сопротивление изменениям можно либо принуждением, либо убеждением. Принуждение — не наш
                метод. Убеждение же предполагает согласие человека с нашими доводами. То есть и человек получает некие
                выгоды, и мы достигаем своей цели — win-win, что называется.</p>

              <p>Чтобы достичь такого согласия мы должны оказать на человека некоторое воздействие. Воздействие может
                быть прямым — через живое общение и опосредованным — через разного рода медиа, в нашем случае
                инструменты воздействия — текстовый документ, презентация или электронный курс. Если воздействие
                качественное — мы достигаем своей цели, если некачественное — не достигаем.</p>

              <p>Весь оставшийся материал статьи будет посвящён тому, как спланировать воздействие для получения
                нужного эффекта. А для этого надо лишь сделать 4 шага:<ul>
              <li>Определиться с целью и желаемой реакцией аудитории</li>
              <li>Посмотреть, кто же составляет ту самую аудиторию</li>
              <li>Собрать пользовательские вопросы</li>
              <li>Проверить вопросы и собрать их в разделы</li></ul></p>

              <p>Добавим немного рекурсии - чтобы разобраться как составлять план документа допустим, что нам надо
                научить сотрудников составлять план документа :) Ничего сложного, но, давайте, по порядку.</p>

            <h2 class="section-heading">Цель документа и желаемая реакция аудитории</h2>

              <p>До того, как мы начнём делать что-либо, надо понять, для чего нам это. Заполняем простую таблицу:</p>

              <a href="{% static 'imgs/posts/plan_creation/025.png' %}">
                <img class="img-fluid" src="{% static 'imgs/posts/plan_creation/025.png' %}" alt="">
              </a>

              <p>Заполнить таблицу достаточно просто - надо написать задачу так, как вы сами её понимаете. Только
                честно. Если вам надо продать продукт, так и пишите - надо продать продукт,
                привлечь пользователей, произвести фуррор и так далее.</p>
              <p>Единственный момент - цель должна быть только одна и аудитория тоже. Это принципиально важно.
                Документ, нацеленный на обучение - одно дело, на продажу - совсем другое.
                Почему важно выбрать одну целевую аудиторию мы поговорим позже, пока просто достаточно принять этот
                факт на веру. 
                Поэтому определитесь. А потом запишите глагол действия - с столбец "Причина", целевую аудиторию - в
                столбец "Аудитория", а суть действия - в "Содержание".</p>

              <p>Описать ожидаемую реакцию тоже несложно, для этого нам понадобится ещё одна табличка. Если вернуться
                к цели обучения технических писателей,
                то ожидаемую реакцию можно описать, например, так:</p>

              <a href="{% static 'imgs/posts/plan_creation/026.png' %}">
                <img class="img-fluid" src="{% static 'imgs/posts/plan_creation/026.png' %}" alt="">
              </a>

              <p>В этой таблице 2 столбца:
                <ol>
                    <li>Действие — туда надо записать глагол действия, проверяемого действия. Не стоит писать что-то
                      абстрактное вроде Понять, Осознать, Научиться и т. д.
                      Только конкретика, только поведение, только хардкор. Что должен делать человек, чтобы вы могли
                      определённо утверждать, что он делает то, что вы хотели.</li>
                    <li>Стандарт — уточнения, в каких условиях и с какими инструментами, при необходимости, должны
                      выполняться действия.</li>
                </ol>
              </p>

           <h2 class="section-heading">Анализ целевой аудитории</h2>
              <p>Переходим к следующей важной части составления плана. На текущий момент мы уже понимаем, для чего мы
                затеяли документ и как должны вести себя пользователи.
                Теперь надо  разобраться с тем, что они собой представляют. И от того, насколько тщательно мы
                проработаем этот вопрос во многом будет зависеть качество нашего воздействия.</p>
              <p>Согласитесь, что аргументация для убеждения в необходимости использования, например, устройства для
                защиты от перепадов напряжения в сети для домохозяйки
                и для специалиста-электротехника будет различаться.  Значит для них мы формируем разные воздействия, а
                значит разные документы.</p>
              <p>Да, конечно, при помощи ветвлений и определённой организации информации мы можем использовать один и
                тот же документ для воздействия на
                разные аудитории, но это тема другого разговора, сейчас её не рассматриваем.</p>
              <p>Итак, для описания нашей аудитории нам снова понадобится таблица с двумя столбцами:
                <ol>
                  <li>Параметры аудитории</li>
                  <li>Описание</li>
                </ol>
              </p>

              <p>Наборы параметров в разных методиках отличаются, но в самом простом варианте используются следующие:
                <ul>
                  <li>Трудовые обязанности</li>
                  <li>Знание предмета</li>
                  <li>Демография</li>
                  <li>Отношение</li>
                  <li>Рабочая среда</li>
                </ul>
              </p>



            <h3>Трудовые обязанности</h3>
              <p>Первое, с чем следует определиться: Как связана их работа с предметом, о котором пойдёт речь
                в документе? Ответ на этот вопрос позволит подобрать действительно актуальные примеры к вашей
                информации, ситуации, с которыми люди сталкиваются ежедневно, которые им понятны и важны.</p>
              <p><b>Пример:</b></p>

              <a href="{% static 'imgs/posts/plan_creation/027.png' %}">
                <img class="img-fluid" src="{% static 'imgs/posts/plan_creation/027.png' %}" alt="">
              </a>


            <h3>Знание предмета</h3>
              <p>Далее нужно понять разрыв между имеющимися и необходимыми знаниями, для этого отвечаем на следующие вопросы:
                <ul>
                  <li>Что наша аудитория уже знает о предмете документа?</li>
                  <li>И что она должна о нём знать?</li>
                </ul>
              </p>

            <p>Это, собственно, определит всё содержание вашего документа.</p>

            <p><b>Пример:</b></p>

            <a href="{% static 'imgs/posts/plan_creation/028.png' %}">
                <img class="img-fluid" src="{% static 'imgs/posts/plan_creation/028.png' %}" alt="">
              </a>



            <h3>Демография</h3>

              <p>Есть и пара демографических особенностей, которые играют роль для формирования документа, в частности,
                для выбора языка, которым будет информация представлена, для определения уровня детализации информации.
                Поэтому мы также должны ответить на вопрос: Какой у представителей аудитории уровень образования
                и родной язык?</p>

              <p>Новичку надо будет что-то по-подробнее разжевать, например, а для человека, для которого русский
                язык не родной, лучше не использовать сложные обороты речи и двусмысленности.</p>

            <p><b>Пример:</b></p>

            <a href="{% static 'imgs/posts/plan_creation/029.png' %}">
                <img class="img-fluid" src="{% static 'imgs/posts/plan_creation/029.png' %}" alt="">
              </a>



            <h3>Отношение</h3>

            <p>Не помешает понять отношение аудитории к:
              <ul>
                <li>предмету обучения</li>
                <li>инструкциям и учебным материалам</li>
                <li>технологиям, которые могут быть задействованы</li>
              </ul>
            </p>

            <p>Это нужно для подбора правильной аргументации</p>

            <p><b>Пример:</b></p>

            <a href="{% static 'imgs/posts/plan_creation/030.png' %}">
                <img class="img-fluid" src="{% static 'imgs/posts/plan_creation/030.png' %}" alt="">
              </a>




            <h3>Рабочая среда</h3>

            <p>Ну и, наконец, надо понять, каким образом аудитория будет работать с вашим документом и есть ли для
              этого какие-то ограничения. Для этого отвечаем на вопросы:
              <ul>
                <li>Как они получают и хранят информацию?</li>
                <li>Есть ли доступ к сети Интернет?</li>
                <li>Есть ли дополнительное оборудование, предназначенное для общения голосом - гарнитуры, веб-камеры?</li>
                <li>Как они будут использовать передаваемую им информацию?</li>
                <li>Сколько времени у них есть на её изучение?</li>
              </ul>
            </p>

            <p><b>Пример:</b></p>

            <a href="{% static 'imgs/posts/plan_creation/031.png' %}">
              <img class="img-fluid" src="{% static 'imgs/posts/plan_creation/031.png' %}" alt="">
            </a>



            <h2 class="section-heading">Сбор пользовательских вопросов</h2>

            <p>Идём дальше и переходим к, пожалуй, самому важному пункту — сбору пользовательских вопросов.</p>

            <p>Идея метода очень проста — качественный документ — это документ, в котором читатель получает ответы на
              все свои вопросы по теме документа. После прочтения документа, у пользователя должна сложиться стройная
              картина знаний о предмете, желательно без белых пятен.</p>

            <p>Чтобы написать такой документ надо, в первую очередь, понять, какие вопросы возникают у нашей аудитории
              по мере изучения предмета.</p>

            <p>Для этого желательно собрать представителей целевой аудитории и экспертов по предмету в одной комнате и
              в одно время. И провести с ними мозговой штурм с целью сгенерировать как можно больше вопросов о
              предмете.</p>

            <p>Конечно, не всегда удаётся собрать такую компанию и провести полноценный мозговой штурм, тогда автору
              документа приходится генерировать вопросы самому. Но, надо понимать, что, скорее всего, автор сильно
              «не попадёт» в запросы аудитории со всеми вытекающими.</p>

            <p>Но представим, что у нас были представители целевой аудитории, предметных экспертов и сам автор. Есть
              несколько особых правил мозгового штурма, которых стоит придерживаться в нашей ситуации. Первое, все
              вопросы, появляющиеся в ходе мозгового штурма следует делить на 2 группы:
              <ul>
                <li>Действия — сюда относим вопросы, которые непосредственно связаны с действиями, которые будут выполнять читатели.
                  Это вопросы типа:
                  <ul>
                    <li>Как мне сделать что-то?</li>
                    <li>Какие действия мне надо предпринять и в каком порядке для чего-то?</li>
                  </ul></li>
                <li>Знания — сюда попадают вопросы, которые связаны со знаниями, которые необходимы для выполнения действий, например:
                <ul>
                  <li>Что делать можно, а что — нельзя?</li>
                  <li>Как это работает? Что при этом происходит?</li>
                  <li>Что это такое? Что это значит?</li>
                  <li>Как это выглядит? И из чего состоит?</li>
                  <li>Какие есть особенности? Какие параметры?</li>
                </ul></li>
              </ul>
            </p>

            <p><b>Пример:</b></p>

            <a href="{% static 'imgs/posts/plan_creation/032.png' %}">
              <img class="img-fluid" src="{% static 'imgs/posts/plan_creation/032.png' %}" alt="">
            </a>

            <p>Начинать мозговой штурм следует именно с действий, так проще. Когда основные вопросы, связанные с
              действиями уже определены, остаётся только понять, каких знаний для выполнения действий не хватает.</p>



            <h2 class="section-heading">Формирование разделов документа</h2>

            <p>Когда список вопросов составлен, можно сказать, что основная работа уже завершена. Теперь нам надо всего
              лишь разбить весь этот список по разделам. Для этого, проходимся внимательно по каждому вопросу из списка
              и даём следующие ответы:
              <ul>
                <li>Действительно ли вопрос нужен? Или его можно исключить?</li>
                <li>Ответ на него так важен или так обширен, что его стоит поместить в отдельный раздел? Или можно
                  объединить с другими вопросами? Если можно объединить, то с какими именно?</li>
               </ul>
            </p>

            <p>В результате таких нехитрых проверок мы получаем содержание документа, разбитое по разделам. Остаётся
              только заполнить.</p>

            <p><b>Пример:</b></p>

            <a href="{% static 'imgs/posts/plan_creation/033.png' %}">
              <img class="img-fluid" src="{% static 'imgs/posts/plan_creation/033.png' %}" alt="">
            </a>



          </div>
        </div>
      </div>
    </article>


{% endblock %}