{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<!--Логин-->
  <section class="fdb-block" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
          <div class="fdb-box fdb-touch">
            <div class="row">
              <div class="col">
                <h1>{% trans 'вход'|capfirst %}</h1>
              </div>
            </div>
              <form action="" method="post">
                  {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                  {% trans "Некорректный логин или пароль. Пожалуйста, попробуйте ввести их ещё раз" %}
                </div>
                {% endif %}
                <div class="row mt-4">
                  <div class="col">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Email">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <input type="password" name="password" id="password" class="form-control mb-1" placeholder="{% trans 'пароль'|capfirst %}">
                    <p class="text-right" style="display:none"><a href="#">{% trans 'Восстановить пароль' %}</a></p>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <input class="btn" type="submit" value="Войти"></input>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div>
{% endblock %}