{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
<!--Логин-->
  <section class="fdb-block" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
          <div class="fdb-box fdb-touch">
            <div class="row">
              <div class="col">
                <h1>{% trans 'регистрация'|capfirst %}</h1>
              </div>
            </div>
              <form action="" method="post">
                  {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                  {% trans "Введены некорректные значения. Исправьте их и повторите попытку" %}
                </div>
                {% endif %}
                <div class="row mt-4">
                  <div class="col">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Email">
                    <div class="alert alert-info" role="alert">
                        {% trans "Адрес электронной почты может содержать латинские буквы, цифры и символы: @ _ + -" %}
                    </div>
                  </div>

                </div>
                <div class="row mt-4">
                  <div class="col">
                    <input type="password" name="password1" id="password1" class="form-control mb-1" placeholder="{% trans 'пароль'|capfirst %}">
                    <div class="alert alert-info" role="alert">
                        {% trans "Пароль должен содержать минимум 8 символов и не может полностью состоять из цифр" %}
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <input type="password" name="password2" id="password2" class="form-control mb-1" placeholder="{% trans 'повторите пароль'|capfirst%}">
                    <div class="alert alert-info" role="alert">
                        {% trans "Для проверки введите тот же пароль, что и в поле выше" %}
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <input class="btn" type="submit" value="{% trans 'регистрация'|capfirst %}"></input>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div>
{% endblock %}